<div class="d-flex">
  <ul class="pagination ml-auto">
    <li class="page-item {{ pagination.current <= 1 ? 'disabled' }}">
      <a class="page-link" href="{{ pagination.urlbase }}/page/{{ pagination.current - 1 }}">‹</a>
    </li>
    {% if pagination.current != 1 and pagination.current != 2 %}
    <li class="page-item"><a class="page-link" href="{{ pagination.urlbase }}/page/1">1</a></li>
    {% endif %}
    {% if pagination.current > 3 %}
      <li class="page-item disabled">
        <a class="page-link" href="#">...</a>
      </li>
    {% endif %}
    {% if pagination.current > 1 %}
      <li class="page-item">
        <a class="page-link" href="{{ pagination.urlbase }}/page/{{ pagination.current - 1 }}">{{ pagination.current - 1 }}</a>
      </li>
    {% endif %}
      <li class="page-item active">
        <a class="page-link" href="#">{{ pagination.current }}</a>
      </li>
    {% if pagination.current < pagination.total  %}
      <li class="page-item">
        <a class="page-link" href="{{ pagination.urlbase }}/page/{{ pagination.current + 1 }}">{{ pagination.current + 1 }}</a>
      </li>
    {% endif %}
    {% if pagination.current < pagination.total  - 2 %}
      <li class="page-item disabled">
        <a class="page-link" href="#">...</a>
      </li>
    {% endif %}
    {% if pagination.current != pagination.total  and pagination.current != pagination.total  - 1 and pagination.total  != 0 %}
      <li class="page-item"><a class="page-link" href="{{ pagination.urlbase }}/page/{{ pagination.total }}">{{ pagination.total }}</a></li>
    {% endif %}
    <li class="page-item {{ pagination.current >= pagination.total ? 'disabled' }}">
      <a class="page-link" href="{{ pagination.urlbase }}/page/{{ pagination.current + 1 }}">›</a>
    </li>
  </ul>
</div>
